@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

* {
    transition: all 200ms ease-in-out;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Lalezar", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
